ul {
    list-style-type:none ;
    padding: 0;
    margin: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: white;
}
body {
    margin: 0;
    font-family: sans-serif;
    color: white;
    background-color: #1B2056;
}