@import './base.css';
@import "./classes.css";
@import "./fonts.css";
@import "./var.css";
@import './components/articles.css';
@import './components/header.css';
@import "./components/hero.css";
@import './components/trends.css';