.hero{
    height: calc(768px - 68px);
}
.hero__content{
    height: 100%;
    background: url(../../img/back.png) center no-repeat;
    background-size: cover;
    padding: 134px 0 0 98px;
    font-family: var(--redhat);
    font-style: normal;
    box-sizing: border-box;
}
.hero__suptitle,
.hero__title{
    color: white;
}
.hero__suptitle{
    margin: 0 0 7px 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
}
.hero__title{
    margin: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 77px;
    letter-spacing: 0.005em;
}
.hero__btn{
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
}